.vidio{
 
    position: relative;
    width: 186px;
    height: 164px;
    left: 10px;
    top: 612px;
    
    
    }

    .vd-property{
        border-radius: 12px;
        height: 330px;
        width: 600px;
        
    }

    @media only screen and (max-width:600px){
        .vd-property{
            border-radius: 12px;
            height: 130px;
            width: 300px;
            
            
        }

    }
    /* .video-de{
        width: 100px;
        height:300px ;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
    } */